@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat/Montserrat-Light.ttf);
}

html{
    height: fit-content;
    width: 100%;
}

footer{
    position: fixed;
    padding: 1em;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: right;
}

footer span{
    color: white;
    font-family: "Montserrat", system-ui, sans-serif;
    font-size: 12px;
    margin-right: 4em;
}

body {
    --main-color: #03dffc;
    --perspective:     60rem;
    --font-size:       2.5em;
    --split-position:  50%;
    --split-thickness: 4px;

    font-family: "Montserrat-Bold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;

    height: fit-content;
    flex-direction: column;
    margin: 0;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.Menu{
    height: fit-content;
    min-width: 25%;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1em;
}

.content{
    width: 100%;
}


.container{
    height: 100vh;
    width: 100%;
    align-items: center;
    top: 0;
    display: flex;
}

/* HOME */
.title{
    margin: auto;
    text-align: left;
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 1.8em;
    font-family: "Montserrat", system-ui, sans-serif;
    padding: 2em;
}

.title h1{
    margin: 0 0 0.5em 0;
    width: fit-content;
}

.title h3{
    margin-bottom: 0.25em;
}

.title .colored{
    font-family: "Montserrat-SemiBold", system-ui, sans-serif;
    color: var(--main-color);
}

.title .links{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: "Montserrat", system-ui, sans-serif;
    list-style: none;
    padding: 0;
}

.title .links li{
    margin-right: 1em;
    margin-bottom: 1em;
}

.title .links .a,
.title .links a{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 0.6em;
    align-items: center;
}

.title .links .icon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.title .links img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.title .links .invert{
    filter: invert();
}
/* END HOME */

@media (max-width: 1700px) {
    .content{
        width: 90%;
    }
}

@media (max-width: 1500px) {
    .content{
        width: 85%;
    }
}

@media (max-width: 1300px) {
    .content{
        width: 75%;
    }

    .title{
        font-size: 1.6em;
    }
}

@media (max-width: 1000px) {
    .title{
        font-size: 1.2em;
    }
}

@media (max-width: 850px) {
    .title{
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .Menu{
        display: none;
    }

    .content{
        width: 100%;
    }

    .title h3{
        font-size: 1em;
    }

    .title h1{
        font-size: 1.5em;
    }
}